/*------------------------------------
  General
------------------------------------*/

ul li,
ol li,
p,
table {
    font-size: .9375rem;
}

.tab-content .u-header+.u-header,
.tab-content .alert+.alert,
.tab-content .nav+.nav,
.tab-content .navbar+.navbar,
.tab-content .progress+.btn,
.tab-content .form-control+.form-control,
.tab-content .progress+.progress {
    margin-top: 1rem;
}


/*------------------------------------
  Markup
------------------------------------*/

.code-toolbar {
    position: relative
}

code {
    font-size: 100%;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    padding: 1.5rem;
    font-size: 13px;
    background: #f8fafd;
    margin-bottom: 1rem;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #212529;
    text-shadow: none;
    white-space: pre-wrap;
}

.token.punctuation,
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #2f6f9f;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #4f9fcf;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #d44950;
}

div.code-toolbar>.toolbar {
    top: 10px;
    right: 10px;
    opacity: 1;
}

div.code-toolbar>.toolbar a {
    padding: .3rem .7rem !important;
    color: inherit;
    background-color: transparent;
    box-shadow: none;
    transition: all .2s ease-in-out;
}

div.code-toolbar>.toolbar a:hover {
    background-color: #377dff;
    color: #fff !important;
}


/*------------------------------------
  AnchorJS Link
------------------------------------*/

.hs-docs-content h2.h4::before,
.hs-docs-content h3.h4::before,
.hs-docs-content h4.h5::before {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    visibility: hidden;
    margin-top: -100px;
}

[data-anchorjs-icon]::after {
    content: attr(data-anchorjs-icon);
}

.anchorjs-link {
    padding-left: .5rem;
    font-size: 90%;
    color: rgba(55, 125, 255, .5) !important;
    transition: color .16s linear;
    opacity: 0;
}

.anchorjs-link:hover {
    color: rgba(55, 125, 255, 1) !important;
}

h2:hover .anchorjs-link,
h3:hover .anchorjs-link,
h4:hover .anchorjs-link {
    opacity: 1;
}


/*------------------------------------
  Header Starter
------------------------------------*/

.u-header--starter {
    z-index: 1000;
}

.u-sidebar {
    z-index: 1001;
}

.u-header--starter .u-header__section {
    box-shadow: none;
}

@media (max-width: 1199px) {
    .u-header--starter__logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .u-header--starter .form-inline {
        display: none;
    }
}

@media (min-width: 1200px) {
    .u-header--starter .container-fluid {
        padding-left: 0;
        padding-right: 4rem;
    }
    .u-header--starter__logo {
        width: 17rem;
        border-bottom: 1px solid rgba(255, 255, 255, .05);
        padding-top: .75rem;
        padding-bottom: .75rem;
        padding-left: 1rem;
    }
    .u-header--starter-dark-logo .u-header--starter__logo {
        background-color: #1e2022;
    }
    .u-header--starter .form-inline {
        width: 100%;
        margin-right: 1.5rem;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .u-header--starter .navbar-expand-lg .u-header__navbar-nav .u-header__nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 1200px) {
    .u-header--starter .form-inline {
        margin-left: 4rem;
    }
}


/*------------------------------------
  Content
------------------------------------*/

.hs-docs-content {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 1200px) {
    .hs-docs-content {
        order: 1;
        padding-right: 4rem;
        padding-left: 21rem;
    }
}


/*------------------------------------
  Sidebar
------------------------------------*/

.hs-docs-sidebar {
    order: 0;
    z-index: 100;
    background-color: #e0e0ea;
}

.hs-docs-sidebar__toggle {
    padding-right: 0;
}

@media (max-width: 1199px) {
    .hs-docs-sidebar {
        position: relative;
        max-height: 50vh;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .hs-docs-navside__links {
        padding-top: 1rem;
        padding-bottom: 1.25rem;
    }
    .hs-docs-sidebar .form-inline {
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .hs-docs-sidebar {
        position: fixed;
        top: 3.5rem;
        width: 17rem;
        height: 100%;
        padding-top: 2rem;
    }
    .hs-docs-sidebar__toggle {
        display: none;
    }
    .hs-docs-sidebar .form-inline {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hs-docs-sidebar {
        padding-bottom: 5rem;
    }
    .hs-docs-navside {
        display: block !important;
        max-height: 100%;
        padding: 1rem 1.5rem 0;
    }
}

.hs-docs-navside__title {
    display: block;
    font-size: .8175rem;
    font-weight: 600;
    color: #1e2022;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.hs-docs-navside__links {
    padding-left: 0;
    margin-bottom: 1.5rem;
    list-style: none;
}

.hs-docs-navside__links:last-child {
    margin-bottom: 0;
}

.hs-docs-navside__links>li>a {
    display: block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 90%;
    color: #5a5f69;
}

.hs-docs-navside__links>li>a.active {
    font-weight: 600;
    color: #E4B021;
}

.hs-docs-navside__links>li>a:hover {
    color: #1e2022;
}

.hs-docs-navside__links>li>a.active:hover {
    color: #E4B021;
}

.hs-docs-sidebar--dark {
    background-color: #1e2022;
}

.hs-docs-sidebar--dark .hs-docs-navside__links>li>a {
    color: rgba(255, 255, 255, .5);
}

.hs-docs-sidebar--dark .hs-docs-navside__links>li>a.active {
    color: #E4B021;
}

.hs-docs-sidebar--dark .hs-docs-navside__links>li>a:hover {
    color: rgba(255, 255, 255, .8);
}

.hs-docs-sidebar--dark .hs-docs-navside__links>li>a.active:hover {
    color: #E4B021;
}


/*------------------------------------
  Scroll Nav Example
------------------------------------*/

.scroll-nav-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}


/*------------------------------------
  Fullscreen
------------------------------------*/

.u-fullscreen {
    z-index: 103;
}


/*------------------------------------
  Malihu Scrollbar
------------------------------------*/

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(255, 255, 255, .2);
}


/*------------------------------------
  jQuery UI
------------------------------------*/

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1px;
    z-index: 91199;
}

.ui-autocomplete .left {
    float: left;
}

.ui-autocomplete .right {
    float: right;
}

.ui-autocomplete .ui-menu-item {
    padding: .25rem;
}

.ui-autocomplete .ui-menu-item:not(:last-child) {
    border-bottom: 1px solid #e7eaf3;
}

.ui-autocomplete .ui-menu-item-wrapper {
    display: block;
    color: inherit;
    background-color: transparent;
    border-color: transparent;
    padding: 7px 15px;
}

.ui-widget.ui-widget-content {
    border: thin solid #e7eaf3;
    border-radius: .125rem;
    box-shadow: 0 2px 16px 8px rgba(140, 152, 164, 0.135);
}

.ui-autocomplete .ui-menu-item-wrapper.ui-state-active,
.ui-autocomplete .ui-menu-item-wrapper:hover {
    background-color: rgba(55, 125, 255, .1);
    text-decoration: none;
}

.ui-autocomplete .ui-menu-item:hover .ui-menu-item-wrapper {
    background-color: rgba(55, 125, 255, .1);
    border-color: transparent;
    border-radius: .125rem;
}

.ui-autocomplete-category {
    padding: 5px 15px;
    margin: 0;
    font-weight: bold;
}

.jvectormap-container {
    width: 100%;
    height: 100%;
}

.hd-doc-search__category {
    display: block;
    color: #377dff;
}

.ui-autocomplete-input.form-control:not(:last-child) {
    border-top-right-radius: .125rem;
    border-bottom-right-radius: .125rem;
}


/*------------------------------------
  Tab
------------------------------------*/

.tab-wrapper {
    box-shadow: 0 0 35px rgba(140, 152, 163, .125);
    border-radius: .25rem;
}

.tab-pane {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-pane pre {
    margin: 0;
}


/*------------------------------------
  Scrollbar
------------------------------------*/

.mCustomScrollbar:not(.hs-docs-sidebar--dark) .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCustomScrollbar:not(.hs-docs-sidebar--dark) .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, .2);
}


/*------------------------------------
  Section Nav
------------------------------------*/

.hd-doc-section-nav {
    position: sticky;
    top: 6.5rem;
    border-left: 1px solid #e7eaf3;
    padding-left: 1.5rem;
    overflow-y: auto;
    list-style: none;
}

.hd-doc-section-nav ul {
    padding-left: 1rem;
    list-style: none;
}

.hd-doc-section-nav-item {
    font-size: .8175rem;
}

.hd-doc-section-nav-item>a {
    display: block;
    color: #8f95a0;
    padding-top: .15rem;
    padding-bottom: .15rem;
}

.hd-doc-section-nav-item.active>a,
.hd-doc-section-nav-item>a:hover {
    color: #377dff;
}


/*------------------------------------
  Copy to clipboard style
------------------------------------*/

.hd-doc-copy-to-clipboard-text {
    font-size: 80%;
    color: #77838f;
}

.hd-doc-copy-to-clipboard:hover .hd-doc-copy-to-clipboard-text {
    color: #fff;
    background-color: #377dff;
}