.collor-yellow {
    color: #E4B021!important;
}

.bg-yellow {
    background: #2d1582!important;
    border-color: #2d1582!important
}

.pariba {
    background: #E4B021!important;
}

.triangulo_up {
    width: 0;
    height: 0;
    margin: auto;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 150px solid #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.triangulo_down {
    width: 0;
    height: 0;
    margin: auto;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-top: 150px solid #fff;
}

.categoria_produto img {
    width: 50%!important;
    margin: 0 auto;
}

th {
    color: #fff;
}

.top {
    background-color: #2d1582;
}